body {
    background: #f7e8d2;
    }
h1 {
    font-size: 24px;
    color: #4d5114;
}

h2 {
    font-size: 18px;
}

li {
    margin: 15px;
}

a {
    color: #c04080;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.content-left {
    padding: 20px;
    border: 3px solid #FF69B4;
    width: 70%;
    background: #c0c080;
    margin: 10px;
    border-radius: 5px;
}

.content-right {
    padding: 20px;
    border: 3px solid #60ffff;
    width: 20%;
    background: #a08040;
    margin: 10px;
    border-radius: 5px;
}

.cat {
    width: 250px;
    height: 300px;
}

.header {
    background: #c0c080;
    padding: 15px;
    text-align: right;
    border: 3px solid #60ffff;
    border-radius: 5px;
}

.block-common {
    width: 200px;
    height: 200px;
}

.block {
    width: 200px;
    height: 200px;
    background-color: bisque;
    margin: 0 auto;
}

.container {
    background-color: #a0c8ff;
}

.container-2 {
    background-color: #a0c8ff;
    height: 400px;
    display: flex;
    align-items: center;
}

.container-3 {
    background-color: #a0c8ff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block-2 {
    background-color: bisque;
    margin: 0 auto;
}

.block-3 {
    width: 200px;
    height: 200px;
    background-color: bisque;
    margin: 10px;
}

.container-4 {
    border: 1px solid black;
}

.red {
    position: relative;
    border: 2px solid red;
    left: 20px;
    top: 20px;
}

.green {
    position: relative;
    border: 2px solid green;
    left: 150px;
    top: -40px;
}

.blue {
    position: relative;
    border: 2px solid blue;
    left: 280px;
    top: -100px;
}

.abs-cat {
    position: fixed;
    right: 0;
    bottom: 0;
}

.abs-cat img {
    width: 100px;
    height: 100px;
}