body {
    background: #f7e8d2;
    }
h1 {
    font-size: 24px;
    color: #4d5114;
}

h2 {
    font-size: 18px;
}

li {
    margin: 15px;
}

a {
    color: #c04080;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.content-left {
    padding: 20px;
    border: 3px solid #FF69B4;
    width: 70%;
    background: #c0c080;
    margin: 10px;
    border-radius: 5px;
}

.content-right {
    padding: 20px;
    border: 3px solid #60ffff;
    width: 20%;
    background: #a08040;
    margin: 10px;
    border-radius: 5px;
}

.cat {
    width: 250px;
    height: 300px;
}