table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #6a5acd;
}

td {
    padding: 8px;
    border: 1px solid #6a5acd;
}

th {
    text-align: left;
    background-color: #b0e0e6;
    color: #4b0082;
    font-weight: bold;
    border: 1px solid #6a5acd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #e6e6fa;
}

tr:nth-child(odd) {
    background-color: #f0f8ff;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #4b0082;
}